.small-editor ::ng-deep .ck-editor__editable_inline {
  min-height: 100px;

}

.large-editor ::ng-deep .ck-editor__editable_inline {
  min-height: 180px !important;

}

label {
  font-weight: 600 !important;
}






/* From uiverse.io by @Ali-Tahmazi99 */
button {
  display: inline-block;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #03045e;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 1;
  font-weight: 600;
  letter-spacing: 1px !important;
  background: #fff !important;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1) !important;
}

button::before,
button::after {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  transform: skew(15deg);
  transition: all 0.5s;
  overflow: hidden;
  z-index: -1;
}

button::before {
  left: -10px;
  background: #240046;
}

button::after {
  right: -10px;
  background: #5a189a;
}

button:hover::before,
button:hover::after {
  width: 58%;
  ;
}

button:hover span {
  color: #e0aaff;
  transition: 0.3s;
}

button span {
  color: #03045e;
  font-size: 18px;
  transition: all 0.3s ease-in;
}

h5 {
  color: #5a189a !important;
  font-weight: 600 !important;
}

h5 span {
  color: #03045e !important;
}

@media screen and (max-width: 568px) {
  h5 {
    font-size: 14px !important;
  }

  .form-select {
    font-size: 10px !important;
  }

  .form-control {
    font-size: 10px !important;
  }

  .small-editor ::ng-deep .ck-editor__editable_inline {
    min-height: 80px;
  }

  label {
    font-weight: 600 !important;
    font-size: 10px !important;
  }

  button {
    display: inline-block;
    width: 120px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #03045e;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
    font-weight: 600;
    letter-spacing: 1px !important;
    background: #fff !important;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1) !important;

  }

  button span {
    color: #03045e;
    font-size: 10px;
    transition: all 0.3s ease-in;
  }

}


/* From Uiverse.io by PriyanshuGupta28 */ 
.spinner {
  position: absolute;
  width: 9px;
  height: 9px;
}

.spinner div {
  position: absolute;
  width: 50%;
  height: 150%;
  background: #000000;
  transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
  animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
}

.spinner div:nth-child(1) {
  --delay: 0.1;
  --rotation: 36;
  --translation: 150;
}

.spinner div:nth-child(2) {
  --delay: 0.2;
  --rotation: 72;
  --translation: 150;
}

.spinner div:nth-child(3) {
  --delay: 0.3;
  --rotation: 108;
  --translation: 150;
}

.spinner div:nth-child(4) {
  --delay: 0.4;
  --rotation: 144;
  --translation: 150;
}

.spinner div:nth-child(5) {
  --delay: 0.5;
  --rotation: 180;
  --translation: 150;
}

.spinner div:nth-child(6) {
  --delay: 0.6;
  --rotation: 216;
  --translation: 150;
}

.spinner div:nth-child(7) {
  --delay: 0.7;
  --rotation: 252;
  --translation: 150;
}

.spinner div:nth-child(8) {
  --delay: 0.8;
  --rotation: 288;
  --translation: 150;
}

.spinner div:nth-child(9) {
  --delay: 0.9;
  --rotation: 324;
  --translation: 150;
}

.spinner div:nth-child(10) {
  --delay: 1;
  --rotation: 360;
  --translation: 150;
}

.page-item{
 background-color:#d9dced;
}
.page-link{
  color: #5a189a !important;
}

.page-item.active .page-link {
 background-color:#d9dced;
 background-color:#d9dced;
  color: #5a189a !important;
  border: none !important;
}