/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    font-family: "Montserrat", sans-serif !important; 


}
:root{
     --main-color: #A294F9;
     --secondary-color:#37353E;
     --white-color:#F7F7F7;
     --btn-color:#A2AADB;
    
}

.loader-wrapper {
  position: fixed;   /* full screen overlay */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0,0,0,0.1); /* optional overlay */
  z-index: 9999;
}
